# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\SEMESTRU_2\Sisteme_Distribuite\Rezolvari\Laborator_04\PhoneAgenda\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
